<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Weather Application - Record display</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    
    <header th:insert="fragments/general.html :: header"> </header>
    <form style="margin: 50px">
        <h3>Station Record Information</h3>
        <br/>
        <div class="container">
        <div class="form-group">
            <label for="stationName" style="font-weight: bold">station_name:</label>
            <span id="stationName" th:text="${station.stationName}"> Station_Name </span>
        </div>
        <div class="form-group">
            <label for="province" style="font-weight: bold">province:</label>
            <span id="province" th:text="${station.province}"> province </span>
        </div>
        <div class="form-group">
            <label for="date" style="font-weight: bold">date:</label>
            <span id="date" th:text="${station.date}"> date </span>
        </div>
        <div class="form-group">
            <label for="meanTemp" style="font-weight: bold">mean_temp:</label>
            <span id="meanTemp" th:text="${station.meanTemp}"> meanTemp </span>
        </div>
        <div class="form-group">
            <label for="highestMonthlyMaxTemp" style="font-weight: bold">highest_monthly_max_temp:</label>
            <span id="highestMonthlyMaxTemp" th:text="${station.highestMonthlyMaxTemp}"> meanTemp </span>
        </div>
        <div class="form-group">
            <label for="lowestMonthlyMinTemp" style="font-weight: bold" >lowest_monthly_min_temp:</label>
            <span id="lowestMonthlyMinTemp" th:text="${station.lowestMonthlyMinTemp}"> lowestMonthlyMinTemp </span>
        </div>

        <a href="/" class="btn btn-primary float-right">Back</a>
        </div>

    </form>
</body>
</html>